@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



body{
  background-color: #171717 !important;
}

#nav-itens{
  font-family:"Inter" !important;
  color: #ffffff;
  font-size: 1.0em;
  font-weight: bolder !important;
  transition: .3s !important;
}

#nav-itens:hover{
  font-family:"Inter";
  font-size: 1.01em;
  font-weight: bolder !important;
  background-image: linear-gradient(
    -365deg,
    #231557 0%,
    #0051ff 29%,
    #00FFB2 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.nav-itens{
  font-family:"Inter";
  font-size: 1.01em;
  font-weight: bolder !important;
  background-image: linear-gradient(
    -365deg,
    #231557 0%,
    #0051ff 29%,
    #00FFB2 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

#nav-itens2{
  font-family:"Inter";
  font-size: 1.01em;
  font-weight: bolder !important;
  background-image: linear-gradient(
    -365deg,
    #231557 0%,
    #0051ff 29%,
    #00FFB2 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

#nav-itens3{
  margin: 0px !important;
  font-family:"Inter";
  font-size: 1.01em;
  font-weight: bolder !important;
  background-image: linear-gradient(
    -365deg,
    #231557 0%,
    #0051ff 29%,
    #00FFB2 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.p-3{
  background-color: #171717 !important;
}

.container{
  display: flex;
  justify-content: end;
  background-color: #171717 !important;
  margin-top: 20px;
  width: 80%;
  height: auto;
  flex-direction: column
}

.card{
  background-color: #171717 !important;
  border:0px !important;
  flex-direction: row !important;
}

h1{
  
  display: flex;
  justify-content: center;
}

h2{

  display: flex;
  justify-content: center;
}

.titulo{
  margin-top: 1em;
  font-family:"Inter";
  color: #00FFB2;
  font-size: 2em;
  font-weight: bold;
  padding-top: 5%;
}

.about-me{
  font-size: 1.5em;
  font-family: "Text Me One";
  padding: 0% 15% 10% 14%;
  margin-top: 1em;
  color: rgb(255, 255, 255);
  text-align: center
}

.about-me-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.text-white{
  color:rgb(255, 255, 255) !important;
}
.navbar{
  background-color: #171717;
  box-shadow: 5px 5px 8px #0000006e;
  display: flex;
  justify-content: space-evenly !important;
}

.navbar-brand{
  font-size: 2em !important;
  font-weight: bolder;
  
}

.card-title{
  font-family:"Inter";
  color: #ffffff;
  font-size: 3.0em;
  font-weight: bolder;
}

.card-body{
  padding:0 !important;
}

.card-text{
  border-right: 1px solid rgba(255, 255, 255, .765);
  font-family:"Text Me One";
  color: #00FFB2;
  font-size: 4.3em;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
}

.card-text2{
  font-family:"Text Me One";
  color: #ffffff;
  font-size: 1.6em;
  font-weight: lighter;
}

.animated{
  size: 1% !important;
}

svg:not(:root) {
  width: 70%;
}

.d-flex{
  align-items: center;
}

.d-flex{
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.filter-green{
  filter: invert(30%) sepia(97%) saturate(2320%) hue-rotate(508deg) brightness(118%) contrast(119%);
}

p{
  color:white;
  font-family:"Text Me One";
}

#icons{
  flex-direction: column;
  padding: 0% 60px 0% 60px;
  
}

#icon-title{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#icon-title2{
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10%;
}

#icon-title3{
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 3%;
}

#icon-title4{
  font-size: 1.8em;
  font-weight: bolder !important;
}

#p-symbol{
  margin:0% !important;
  padding-bottom: 0%;
  font-size: 1.8em;
  font-weight: bold;
}

.icon-sub-title{
  margin-top: -35px !important;
}

/*eh o cubos */

.green-cube{
  width: 301px;
  height: 301px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
      transform: rotateX(-30deg) rotateY(0deg);
  }

  100%{
      transform: rotateX(-30deg) rotateY(360deg);
  }
}

.green-cube div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.green-cube div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515,#00FFB2);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top-green-cube{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}

.top-green-cube::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  height: 200px;
  width: 200px;
  background: #00FFB2;
  transform: translateZ(-380px);
  filter: blur(120px);
}

.cube{
  padding: 5%;
}

@media (max-height:768px) and (max-width:1366px){
  .cube{
    display:none;
  }
}

.img-skills{
  background-color: #252525;
  width: 100%;
  height: auto;
  transition: .5s;
  box-shadow: 5px 5px 8px #0000006e;
  border-radius: 10%;
}

.my-services{
  background-color: #1c1c1c;
  padding: 5% 5% 0% 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  transition: .5s;
  box-shadow: 5px 5px 8px #0000006e;
  border-radius: 10%;
}

.about-me2{
  font-size: 1.5em;
  font-family: "Text Me One";
  margin-top: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.about-me3{
  font-size: 1.5em;
  font-family: "Text Me One";
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.titulo2{
  margin-top: 1em;
  font-family:"Inter";
  color: #00FFB2;
  font-size: 2em;
  font-weight: bold;
  }

  #img-carousel{
    width: 1874px;
    height: 536px;
  }

  .services-main{
    padding: 0% 0% 10% 0%;
  }

#name-animated{
  animation: blinkCursor 800ms steps(40) infinite normal, typing 1s steps(8) 2s normal both;
}
  
  @keyframes blinkCursor{
      from{
        border-right-color: rgba(255, 255, 255, .75);
      }
      to{
        border-right-color: transparent;
      }
  }

  @keyframes typing {
    from{
      width: 0;
    } to {
      width: 3.8em;
    }
  }

  a{
    cursor: pointer;
  }

  

/* RESPOSIVIDADE */

  @media screen and (max-width: 430px) {

    html{
      display: flex;
    }

    #desktop-nav{
      display: none !important;
    }

    #desktop-services{
      display:none !important;
    }

    #navbarSupportedContent{
      display: none !important;
    }

    #nav-itens2{
      display: none;
    }

    .pos-f-t{
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    .spin-cube {
      display: none;
    }
    .row{
      display: flex;
      justify-content: center;
    }
    #icons{
      padding-top: 10%;
    }

    #img-carousel{
      width: 450px;
      height: 200px;
    }

    main-page{
      text-align: center;
    }

    .about-me{
      padding:10px;
    }

    .d-flex{
      flex-direction: column !important;
    }

    footer{
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 430px) {

    #mobile-services{
      display:none !important;
    }

    .pos-f-t{
      display: none;
      
    }
    .desktop-nav{
      display: none;
    }
  }